body {
    background-color: black;
}

h3 {
    text-transform: uppercase;
    font-size: 14px;
}


      

/* Sticky Navigation */

nav.main-nav {
    background:black;
    height:60px;
    z-index:170;
    margin:0 auto;
    width:100%;
    position:fixed;
    top:0;
    left:0;
    right:0;
    text-align: center;
}
 
nav.main-nav a {
    font-family:'Gilda Display', serif;
    font-size: 15px;
    text-decoration:none;
    text-transform: uppercase;
    display:inline-block;
    padding:15px 19px;
    color:white;
    -webkit-transition: font-size .5s ease-out;
    -moz-transition: font-size .5s ease-out;
    -o-transition: font-size .5s ease-out;
    transition: font-size .5s ease-out;
}

nav.main-nav a:hover {
font-size: 17px;
}

/* Background video */
.bg-video {

	position: absolute;
	top: 0;
	left: 0;
	height: 100%;
	width: 100%;
	z-index: -1;
	overflow: hidden;
}

.bg-video-vid {
		height: 100%;
	    width: 100%;
		object-fit: cover;
		overflow-x: hidden;
    }

.logo-bar{
    background:black;
    height:80px;
    z-index:170;
    margin:0 auto;
    width:100%;
    position:absolute;
    top: 90%;
}

header {
    text-align: center;
    width: 95vw;
    height: 96.6vh;
}

.header-hero-text {
    color: #fff;
    font-family: 'Gilda Display', serif;
    text-transform: uppercase;
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    
}

    
.hero-text{
    letter-spacing: 0.05em;
    font-size: 1.9em;
}


.hero-quote {
   opacity: 0;
   font-size: 1.25em;
   letter-spacing: 0.25em;
   animation: fade 11s;
   -moz-animation: fade 11s; /* Firefox */
   -webkit-animation: fade 11s; /* Safari and Chrome */
   -o-animation: fade 11s; /* Opera */
}
 
section {
        clear: both;
        padding: 0px;
        margin: 0px;
    }
    
/* Author */
.author {
    background-image: radial-gradient(circle at center, rgba(11, 47, 49, 0.548), rgba(0, 0, 0, 0.918), rgba(0,0,0,1)),  url(../img/alexandra-rose-439340-unsplash.jpg);
    background-size: cover;
    overflow: auto;
}

.feature-box {
        height: 70vh;
        display: inline-block;
        color: white;
        background-color: rgba(255, 255, 255, 0.3);
        font-size: 11.5px;
        padding: 2.5rem;
        margin-top: 10%;
        margin-bottom: 10%;
        margin-left: 3.5%;
        margin-right: 3.5%;
        align-items: center;
        border-radius: 3px;
        box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.15);
        -webkit-transition: transform 1s ease-out;
        -moz-transition: transform 1s ease-out;
        -o-transition: transform 1s ease-out;
        transition: transform 1s ease-out;
      }
      
.feature-box:hover{
        transform: translateY(-1.5rem) scale(1.03);
        background-color: rgba(0, 0, 0, 0.7);
        -webkit-transition: background-color 1s ease-out;
        -moz-transition: background-color 1s ease-out;
        -o-transition: background-color 1s ease-out;
        transition: background-color 1s ease-out;
        opacity: 0.9;
    }
/* Themes */

.themes {
    background-image: radial-gradient(circle at center, rgba(11, 47, 49, 0.548), rgba(0, 0, 0, 0.918), rgba(0,0,0,1)), url(../img/qijin-xu-1327858-unsplash.jpg);
    background-size: contain;
    overflow: auto;
    height: 100vh;
    color: white;
    font-size: 11.5px;
    margin-bottom: 10%;
    padding-right: 10%;
    padding-left: 50%;
}

/* Stories */

/* .stories {
    

} */


#slider,  #slider .slide{
    width: 70vw;
    height: 70vh;
  }
  #slider {
    overflow: hidden;
    margin: 0 auto;
    font-size: 1.2em;
    color: white;

  }
  #slider .slides {
    position: relative;
    width: 9000px; 
    top: 0;
    right: 0;
    animation: slide-animation 30s infinite;
  }
  #slider .slide {
    position: relative;
    float: left;
    box-sizing: border-box;
    padding: 10px 20px;
  }
  
  /* [ANIMATION] */
  @keyframes slide-animation {
    0% { 
      opacity: 0;
      right: 0;
    }
    11% {
      opacity: 1;
      right: 0; 
    }
    22% { right: 100%; }
    33% { right: 100%; }
    44% { right: 200%; }
    55% { right: 200%; }
    66% { right: 300%; }
    77% { right: 300%; }
    88% {
      opacity: 1;
      right: 400%; 
    }
    100% {
      opacity: 0;
      right: 400%;
    }
  }


/*  COLUMN SETUP  */
.col {
	display: block;
	float:left;
	margin: 1% 0 1% 1.6%;
}
.col:first-child { margin-left: 0; }

/*  GROUPING  */
.group:before,
.group:after { content:""; display:table; }
.group:after { clear:both;}
.group { zoom:1; /* For IE 6/7 */ }

/*  GRID OF FOUR  */
.span_4_of_4 {
	width: 100%;
}
.span_3_of_4 {
	width: 74.6%;
}
.span_2_of_4 {
	width: 49.2%;
}
.span_1_of_4 {
	width: 23.8%;
}

/*  GO FULL WIDTH BELOW 480 PIXELS */
@media only screen and (max-width: 480px) {
	.col {  margin: 1% 0 1% 0%; }
	.span_1_of_4, .span_2_of_4, .span_3_of_4, .span_4_of_4 { width: 100%; }
}

/*  GRID OF SIX  */
.span_6_of_6 {
	width: 100%;
}

.span_5_of_6 {
  	width: 83.06%;
}

.span_4_of_6 {
  	width: 66.13%;
}

.span_3_of_6 {
  	width: 49.2%;
}

.span_2_of_6 {
  	width: 32.26%;
}

.span_1_of_6 {
  	width: 15.33%;
}

/*  GO FULL WIDTH BELOW 480 PIXELS */
@media only screen and (max-width: 480px) {
	.col {  margin: 1% 0 1% 0%; }
	.span_1_of_6, .span_2_of_6, .span_3_of_6, .span_4_of_6, .span_5_of_6, .span_6_of_6 { width: 100%; }
}

/* Animations */

/* T */
.hero-text span:nth-child(1) {
    opacity: 0;
    animation: fadein 3s;
    -moz-animation: fadein 3s; /* Firefox */
    -webkit-animation: fadein 3s; /* Safari and Chrome */
    -o-animation: fadein 3s; /* Opera */ 
    animation-delay: 10s;
    animation-fill-mode: forwards;
}
/* H */
.hero-text span:nth-child(2) {
    opacity: 0;
    animation: fadein 4s;
    -moz-animation: fadein 4s;
    -webkit-animation: fadein 4s;
    -o-animation: fadein 4s; 
    animation-delay: 10s;
    animation-fill-mode: forwards;
}
/* E */
.hero-text span:nth-child(3) {

    opacity: 0;
    animation: fadein 5s;
    -moz-animation: fadein 5s;
    -webkit-animation: fadein 5s;
    -o-animation: fadein 5s; 
    animation-delay: 10s;
    animation-fill-mode: forwards;
}
/* L */
.hero-text span:nth-child(4) {
    opacity: 0;
    animation: fadein 5s;
    -moz-animation: fadein 5s;
    -webkit-animation: fadein 5s;
    -o-animation: fadein 5s; 
    animation-delay: 10s;
    animation-fill-mode: forwards;

}
/* E */
.hero-text span:nth-child(5) {
    opacity: 0;
    animation: fadein 5s;
    -moz-animation: fadein 5s;
    -webkit-animation: fadein 5s;
    -o-animation: fadein 5s; 
    animation-delay: 10s;
    animation-fill-mode: forwards;
}
/* X */
.hero-text span:nth-child(6) {
    opacity: 0;
    animation: fadein 5s;
    -moz-animation: fadein 5s;
    -webkit-animation: fadein 5s;
    -o-animation: fadein 5s; 
    animation-delay: 10s;
    animation-fill-mode: forwards;
}
/* I */
.hero-text span:nth-child(7) {
    opacity: 0;
    animation: fadein 5s;
    -moz-animation: fadein 5s;
    -webkit-animation: fadein 5s;
    -o-animation: fadein 5s; 
    animation-delay: 10s;
    animation-fill-mode: forwards;
}

/* C */
.hero-text span:nth-child(8) {
    opacity: 0;
    animation: fadein 3s;
    -moz-animation: fadein 3s; /* Firefox */
    -webkit-animation: fadein 3s; /* Safari and Chrome */
    -o-animation: fadein 3s; /* Opera */ 
    animation-delay: 10s;
    animation-fill-mode: forwards;
}
/* O */
.hero-text span:nth-child(9) {
    opacity: 0;
    animation: fadein 4s;
    -moz-animation: fadein 4s;
    -webkit-animation: fadein 4s;
    -o-animation: fadein 4s; 
    animation-delay: 10s;
    animation-fill-mode: forwards;
}
/* N */
.hero-text span:nth-child(10) {

    opacity: 0;
    animation: fadein 5s;
    -moz-animation: fadein 5s;
    -webkit-animation: fadein 5s;
    -o-animation: fadein 5s; 
    animation-delay: 10s;
    animation-fill-mode: forwards;
}
/* N */
.hero-text span:nth-child(11) {
    opacity: 0;
    animation: fadein 5s;
    -moz-animation: fadein 5s;
    -webkit-animation: fadein 5s;
    -o-animation: fadein 5s; 
    animation-delay: 10s;
    animation-fill-mode: forwards;

}
/* E */
.hero-text span:nth-child(12) {
    opacity: 0;
    animation: fadein 5s;
    -moz-animation: fadein 5s;
    -webkit-animation: fadein 5s;
    -o-animation: fadein 5s; 
    animation-delay: 10s;
    animation-fill-mode: forwards;
}
/* C */
.hero-text span:nth-child(13) {
    opacity: 0;
    animation: fadein 5s;
    -moz-animation: fadein 5s;
    -webkit-animation: fadein 5s;
    -o-animation: fadein 5s; 
    animation-delay: 10s;
    animation-fill-mode: forwards;
}

/* R */
.hero-text span:nth-child(14) {
    opacity: 0;
    animation: fadein 5s;
    -moz-animation: fadein 5s;
    -webkit-animation: fadein 5s;
    -o-animation: fadein 5s; 
    animation-delay: 10s;
    animation-fill-mode: forwards;
}

/* O */
.hero-text span:nth-child(15) {
    opacity: 0;
    animation: fadein 5s;
    -moz-animation: fadein 5s;
    -webkit-animation: fadein 5s;
    -o-animation: fadein 5s; 
    animation-delay: 10s;
    animation-fill-mode: forwards;
}

/* N */
.hero-text span:nth-child(16) {
    opacity: 0;
    animation: fadein 5s;
    -moz-animation: fadein 5s;
    -webkit-animation: fadein 5s;
    -o-animation: fadein 5s; 
    animation-delay: 10s;
    animation-fill-mode: forwards;
}

/* O */
.hero-text span:nth-child(17) {
    opacity: 0;
    animation: fadein 5s;
    -moz-animation: fadein 5s;
    -webkit-animation: fadein 5s;
    -o-animation: fadein 5s; 
    animation-delay: 10s;
    animation-fill-mode: forwards;
}

/* M */
.hero-text span:nth-child(18) {
    opacity: 0;
    animation: fadein 5s;
    -moz-animation: fadein 5s;
    -webkit-animation: fadein 5s;
    -o-animation: fadein 5s; 
    animation-delay: 10s;
    animation-fill-mode: forwards;
}

/* I */
.hero-text span:nth-child(19) {
    opacity: 0;
    animation: fadein 5s;
    -moz-animation: fadein 5s;
    -webkit-animation: fadein 5s;
    -o-animation: fadein 5s; 
    animation-delay: 10s;
    animation-fill-mode: forwards;
}

/* C */
.hero-text span:nth-child(20) {
    opacity: 0;
    animation: fadein 5s;
    -moz-animation: fadein 5s;
    -webkit-animation: fadein 5s;
    -o-animation: fadein 5s; 
    animation-delay: 10s;
    animation-fill-mode: forwards;
}

/* O */
.hero-text span:nth-child(21) {
    opacity: 0;
    animation: fadein 5s;
    -moz-animation: fadein 5s;
    -webkit-animation: fadein 5s;
    -o-animation: fadein 5s; 
    animation-delay: 10s;
    animation-fill-mode: forwards;
}

/* N */
.hero-text span:nth-child(22) {
    opacity: 0;
    animation: fadein 5s;
    -moz-animation: fadein 5s;
    -webkit-animation: fadein 5s;
    -o-animation: fadein 5s; 
    animation-delay: 10s;
    animation-fill-mode: forwards;
}

 @keyframes fade {
    0%   { opacity:0; }
    50%  { opacity:1; }
    100% { opacity:0; }
}
@-moz-keyframes fade { /* Firefox */
    0%   { opacity:0; }
    50%  { opacity:1; }
    100% { opacity:0; }
}
@-webkit-keyframes fade { /* Safari and Chrome */
    0%   { opacity:0; }
    50%  { opacity:1; }
    100% { opacity:0; }
}
@-o-keyframes fade { /* Opera */
    0%   { opacity:0; }
    50%  { opacity:1; }
    100% { opacity:0; }
}


@keyframes fadein {
    from{opacity:0}
    to{opacity:1}
}
@-moz-keyframes fadein { 
    from{opacity:0}
    to{opacity:1}
}
@-webkit-keyframes fadein { 
    from{opacity:0}
    to{opacity:1}
}
@-o-keyframes fadein { 
    from{opacity:0}
to{opacity:1}
}


